@import url('https://fonts.google.com/share?selection.family=Nunito:ital,wght@0,200..1000;1,200..1000');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}


body,
html {
    overflow-x: hidden;
}

.btn a {
    padding-top: 120%;
}

.btn {
    padding: 13px 25px;
    border-width: 2px;
    border-radius: 0;
    font-weight: bold;
    transition: 1s;
    background-color: rgb(237, 237, 237, .1);
    backdrop-filter: blur(10px);
}




/* ============Navigation Bar============= */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* overflow: hidden; */
}



.navbar-brand {
    font-size: 17px;
    font-weight: 700;
    /* color: rgb(12, 138, 211); */
    color: black;
    margin: .5rem;
    display: inline;
}



.nav-item a {
    font-size: 17px;
    color: black;
    margin: 10px;
}

.dropdown .dropdown-menu {
    display: none;
}

.dropdown:hover>.dropdown-menu,
.dropstart:hover>.dropdown-menu {
    display: block;
    margin: .125em;
    margin-left: .125em;
}

/* @media screen and(min-width: 750px) {
    .nav-item a {
        display: none;
    }
} */


@media screen and(min-width: 769px) {
    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        right: 100%;
    }

    .content-home p {
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* ============Navigation bar End============= */


/* ============Hero Section============= */

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden;     */
}

.Home-background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* ============Hero Section End============= */

/* ============About Section ============= */



.about-content {
    padding-left: 10px;
}

.about-content p {
    padding-top: 2px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 16.5px;
}

.about-content h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.about-img {
    width: 90%;
    height: 450px;
    padding-left: ;
}

#About {

    background-color: rgb(237, 237, 237, .9);
    /* background-color: rgba(164, 199, 241, 0.9); */
    backdrop-filter: blur(10px);
    padding-top: 90px;
    padding-bottom: 80px;
}

@media (max-width: 768px) {
    #About {

        background-color: rgb(237, 237, 237, .9);
        /* background-color: rgba(164, 199, 241, 0.9); */
        backdrop-filter: blur(10px);
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* ============About Section End ============= */

/* ============Focus Section ============= */
.Focus {
    /* padding-bottom: 60px; */
}

.Focus-Headeer {
    font-size: 45px;
    /* margin: 50px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sub-header {
    font-size: 18.5px;
    margin-left: 15%;
    margin-right: 15%;
}

.Focus-header h2 {
    padding-top: 30px;
    /* margin-top: 40px; */
    margin-bottom: 0px;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slider-item {
    position: relative;
    text-align: center;
    color: #fff;
}

.slider-item img {
    width: 100%;
    height: auto;
}

.slider-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* Semi-transparent background for text */
    padding: 20px;
    text-align: center;
}

.slider-text h2 {
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.slider-text p {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.slider-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.slider-button:hover {
    background-color: #0056b3;
}

/* Responsive Adjustments */
@media (max-width: 768px) {

    .sub-header {
        margin-left: 20px;
        margin-right: 20px;
    }

    .slider-text {
        bottom: 0;
        padding: 10px;
    }

    .slider-text h2 {
        font-size: 1.3rem;
        margin-bottom: 5px;
    }

    .slider-text p {
        font-size: .5rem;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .slider-button {
        font-size: .8rem;
        margin-bottom: 20px;
        padding: 2px 4px;
    }

    .btn {
        font-size: .8rem;
        margin-bottom: 25px;
        padding: 2px 2px;
    }
}

/* ============Focus Section End============= */

/* ============Home Automation Solution Section ============= */
.Solution-header h2 {
    padding-top: 20px;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.Solution-header p {
    font-size: 18.5px;
}

.product-card {

    background-color: rgb(237, 237, 237, .9);
    /* background-color: rgba(164, 199, 241, 0.9); */
    backdrop-filter: blur(10px);
}

.product-card {
    margin-bottom: 30px;
    max-width: 100%;
    height: 465px;
}

.picture {
    width: 500px;
}

.product-card img {
    max-width: 100%;
    height: 280px;
}

.slider-button {
    height: 50px;
    width: 100%;
    margin-top: 5px;
}

#product-name a {
    text-decoration: none;
}



/* CSS for hover effect on product cards */

.card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    /* Moves the card up slightly on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /* Adds a shadow effect on hover */
}

.card-img-top {
    height: 200px;
    /* Adjust height of the card image */
    object-fit: cover;
    /* Ensures the image covers the entire space */
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    font-style: bold;
    color: black;
}

.product-card .card-body {
    padding: 20px;
}

.text-center {
    text-align: center;
}

#Card a {
    text-decoration: none;
}


@media (max-width: 768px) {
    .card-text {
        font-size: 15px;
    }

    .product-card img {
        max-width: 100%;
        height: 260px;
    }

    .Product {
        margin: 10px;
    }
}

.Focus {
    /* background: url(photos/abstract-digital-grid-black-background_53876-97647.avif); */
    /* background: url(photos/bg.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* ---------- */

/* ============Home Automation Solution Section end============= */

/* ============Contact Section ============= */
.Contact {
    background: url(photos/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
}

.Contact-Header {
    margin-bottom: 40px;
}

.Contact {
    padding-bottom: 70px;
}

.Contact-Header h2 {
    padding-top: 50px;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Address {
    margin-top: 20px;
}

#Contact-content {
    margin-top: 20px;
}

.qr-code-container {
    position: relative;
    cursor: pointer;
}

.qr-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    display: none;
}

.qr-text a {
    color: white;
    text-decoration: none;
}

.qr-code-container:hover .qr-text {
    display: block;
}

/* ============Contact End Section ============= */

/* ============Product List Section ============= */
#ph1 {
    height: 600px;
}

.Product {
    margin-top: 100px;
}

.Product-h1 {
    padding-top: 20px;
}

.Product-content p {
    padding-top: 2px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 16.5px;
}

.Product-content {
    margin: 25px;
}

.Product-img img {
    width: 100%;
    height: 100%;
}

.product-item img {
    /* height: 100%; */
}

.dropdown-menu button {
    background: #ccc;
    width: 80%;
}

#button1 {
    margin-top: 15px;
}

.product-item {
    margin-bottom: 30px;
}

.filter-btn {

    padding: 8px 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.filter-btn.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.filter-btn:hover {
    background-color: #ccc;
}

.filters {
    /* width: 100%; */
    margin-left: 80%;
    margin-bottom: 30px;
    border: #333 solid 3px;
}

@media (max-width: 768px) {
    .filters {
        margin-left: 40%;
        margin-bottom: 30px;
        border: #333 solid 3px;

    }

}


.solution {
    background: #ccc;
}

/* ============product List End Section ============= */
/* ============footer Section ============= */

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* ============footer Section End============= */

/* ============Enhance life style Section End============= */

.content-home {
    left: 60%;
    margin-top: 50px;
    background-color: rgb(237, 237, 237, .01);
    backdrop-filter: blur(10px);
}

/* ============Gate-automation solution Section ============= */
.Gate-Automation-Solution {
    margin-top: 5%;
    padding-bottom: 30px;
}

#gate-about {
    margin-top: 10px;
    margin-bottom: 20px;
}

.Gate {
    background-color: rgb(237, 237, 237, .9);
}

.button {
    margin-top: 30px;
    margin-bottom: 10px;
}

.button a {
    text-decoration: none;
}

.pointer {
    /* text-decoration: none; */
    justify-content: center;
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin-bottom: 5px;
    border: solid black 3px;
    /* background-color: #333; */
}

@media (max-width: 768px) {
    .Gate-Automation-Solution {
        margin-top: 15%;

    }


}

#Gate1 {
    margin-bottom: 30px;
}

/* ============Gate-automation solution end Section ============= */